    .all-card{
        position: relative;
    }
    
    .card {
        width: 260px;
        height: 270px;
        border-radius: 10px;
    }

    .avatar {
        margin-top: 30px;
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }

    .user-name {
        margin: 10px 0;
        font-size: 18px;
        font-weight: 600;
        color: #6278F7;
    }

    .user-description {
        margin-top: 5px;
        font-size: 16px;
        font-weight: 400;
        color: #212121;
    }

    .icon-close{
        position: absolute;
        right: -18px;
        top: -15px;
    }